<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>防災クイズスタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
            <h1 class="headline">
            <a>防災</a>
            </h1>
            <h2> 防災クイズ </h2>
            <ul class="nav-list">
                
                <li class="nav-list-item"><%= link_to "～地震編～", new_post_path, class: "link" %></li>
                <li class="nav-list-item"><%= link_to "～豪雨編～", new_posts3_path, class: "link" %></li>
                <li class="nav-list-item"><%= link_to "～防災その他編～", new_posts2_path, class: "link" %></li>
            </ul>
        </header>

        <div class="start">
            <h2>私の防災</h2>
            <%= link_to "投稿・閲覧はこちらへ", tweets_path, class: "link" %>
        </div>
    </body>