         <h1>結果</h1>
            <p>あなたの防災レベルは…</p>
        </div>
        <div class="bousai-container">
            <div class="bousai">
                <% if @bousai && @bousai.question == "11111" %>   <!--クイズ2問正解、備えo-->
                <h6>中級</h6>  
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>
　　　　　　　　　
　　            <% elsif@bousai && @bousai.question == "11112" %>　　 <!--クイズ2問正解、備えx-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11121" %>　　 <!--クイズ1問正解、備えo-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11122" %>　　 <!--クイズ1問正解、備えx-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11131" %>　　 <!--クイズ1問正解、備えo-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11132" %>　　 <!--クイズ1問正解、備えo-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11211" %>　　 <!--クイズ1問正解、備えo-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11212" %>　　 <!--クイズ1問正解、備えx-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11221" %>　　 <!--クイズ0問正解、備えo-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11222" %>　　 <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11231" %>　　 <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11232" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11311" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11312" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11321" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11322" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11331" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "11332" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13111" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13112" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13121" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13122" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13131" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13132" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13211" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13212" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13221" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう/p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13222" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13231" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13232" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13311" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13312" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13321" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13322" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13331" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "13332" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21111" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21112" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21121" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21122" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21131" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21132" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21211" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21212" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21221" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21222" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21231" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21232" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21311" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21312" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21321" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21322" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21331" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "21332" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22111" %>  <!--クイズ4問正解、備o-->
                <h6>上級</h6>
                <p>全問正解です！素晴らしい✨</p>
                <p>これに満足せずこの意識をキープしていきましょう！</p>

                <% elsif@bousai && @bousai.question == "22112" %>  <!--クイズ4問正解、備x-->
                <h6>上級</h6>
                <p>全問正解です！素晴らしい✨</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22121" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22122" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22131" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22132" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22211" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6> 
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22212" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22221" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22222" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22231" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22232" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22311" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22312" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22321" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22322" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22331" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "22332" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23111" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23112" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23121" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23122" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23131" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23132" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23211" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23212" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23221" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23222" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23231" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23232" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23311" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23312" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23321" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23322" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23331" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "23332" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31111" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31112" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31121" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31122" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31131" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31132" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31211" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31212" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31221" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31222" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31231" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31232" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31311" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31312" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31321" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31322" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！
                <% elsif@bousai && @bousai.question == "31331" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "31332" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！！</p>

                <% elsif@bousai && @bousai.question == "32111" %>  <!--クイズ3問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32112" %>  <!--クイズ3問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32121" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32122" %> <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32131" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32132" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32211" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32212" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32221" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32222" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32231" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32232" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32311" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32312" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32321" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32322" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32331" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "32332" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33111" %>  <!--クイズ2問正解、備o-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33112" %>  <!--クイズ2問正解、備x-->
                <h6>中級</h6>
                <p>今持っている防災の知識も素晴らしいですが、まだまだ知るべき情報はたくさんあります！今後も災害の知識を増やしましょう！</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33121" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33122" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33131" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33132" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33211" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33212" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33221" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33222" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！！</p>

                <% elsif@bousai && @bousai.question == "33231" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6> 
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33232" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33311" %>  <!--クイズ1問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33312" %>  <!--クイズ1問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！！</p>

                <% elsif@bousai && @bousai.question == "33321" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33322" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！！</p>

                <% elsif@bousai && @bousai.question == "33331" %>  <!--クイズ0問正解、備o-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>家具の固定されていること素晴らしいです！これに満足することなく日常生活から備えましょう！</p>

                <% elsif@bousai && @bousai.question == "33332" %>  <!--クイズ0問正解、備x-->
                <h6>初級</h6>
                <p>伸びしろがあります！これを機に、いつ来るかわからない災害に備えましょう</p>
                <p>知識だけでなく、実践も大事です。普段の生活からその知識を活用して備えましょう！</p>

                

              


              

                

                <% end %>

        </div>

