.tweets-container {
    width: 95%;
    margin: 10px auto;
  }
  h3 {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  .tweet {
    border-top: solid #00acee;
    margin-top: 10px;
    padding-top: 20px;
    border: 2px dotted red;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }